        body {
            background-image:url("Church\ Logo.jpg");
        }

        #form {
             padding-left: 40%;
             padding-top: 40px;
        }

        #field {
            width: 300px;
            background-color: white;
        }

        #header {
            color: brown;
            font-size: larger;
            font-family:'Times New Roman', Times, serif;
            font-weight: bolder;
        }

        #submit {
            margin-left: 40%;
            background-color: green;
            color: white;
        }

        #logo {
            width: 100%;
        }

        h1 {
            color: azure;
        }

        script {
            background-color: aliceblue;
        }